.feed {
  width: calc(100% - 270px);
  position: fixed;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-areas: "trending trending" "posts communities";
  grid-template-rows: 224px;
  overflow-y: scroll;
  height: calc(100% - 48px);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feed-child {
  width: 990px;
}
.feed-bottom {
  display: flex;
  justify-content: space-between;
}
