.SearchResults {
  width: calc(100% - 270px);
  height: calc(100% - 48px);
  position: fixed;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-results {
  width: 975px;
  height: 100%;
  margin-top: 24px;
}

.sr-nav {
  display: flex;
  margin-bottom: 24px;
}
.sr-n-button {
  height: 42px;
  padding: 0 20px;
  background: none;
  border: none;
  border-radius: 500px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}
.sr-n-button:hover {
  background: #ecedee;
}
.sr-n-button-chosen {
  background: #f6f7f8;
}

.sr-query {
  display: flex;
}
.sr-q-button {
  padding: 4px 8px;
  background: none;
  border: none;
  border-radius: 500px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  margin-right: 8px;
}
.sr-q-button:hover {
  background: #ecedee;
}

.sr-results {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.sr-r-left-nothing {
  width: 640px;
  height: 250px;
  background: white;
  border-radius: 4px;
  border: 0.5px solid #cccccc;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sr-r-l-n-top {
  height: 112px;
  color: #2884d6;
  border: 8px solid #2884d6;
  padding: 16px;
  border-radius: 12px;
}
.sr-r-l-n-middle {
  font-size: 20px;
  font-weight: 500;
}

.sr-r-right {
  width: 310px;
}
.sr-r-r-communities {
  width: 100%;
  border-radius: 4px;
  border: 0.5px solid #cccccc;
  background: white;
  margin-bottom: 16px;
  /* padding-top: 16px; */
}
.sr-r-r-name {
  font-weight: 500;
}
.nc-r-s-r-content {
  padding: 8px 16px;
}
.nc-r-s-r-content:hover {
  background: #ecedee;
}
.nc-r-s-r-title {
  padding: 16px 16px;
  font-weight: 500;
}
.nc-r-s-r-content {
  font-weight: 500;
}
