.lc-background {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  position: fixed;
}

.lc-container {
  background: white;
  width: 400px;
  border-radius: 15px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lc-c-exit {
  margin: 16px;
  float: right;

  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.lc-c-x {
  color: #878a8c;
}

.lc-c-top {
  margin: 0 60px;
  margin-top: 75px;
  margin-bottom: 30px;
}

.lc-c-t-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.lc-c-t-text {
  font-size: 12px;
}

.lc-c-middle {
  margin: 0 60px;
}

.lc-c-m-username,
.lc-c-m-password {
  position: relative;
  margin: 16px 0;
}
.lc-c-m-username-label,
.lc-c-m-password-label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.25s;
  color: #737577;
  font-size: 14px;
  font-weight: 500;
}

.lc-c-m-username > input,
.lc-c-m-password > input {
  width: 280px;
  height: 46px;
  border: none;
  border-radius: 500px;
  background: #f6f7f8;
  padding: 12px;

  /* margin-bottom: 16px; */
  transition: 1s;
}

#lc-c-m-username:hover,
#lc-c-m-password:hover {
  border: 0.5px solid #c5c6c6;
}
#lc-c-m-username:focus,
#lc-c-m-password:focus {
  outline: none !important;
  border: 0.5px solid #c5c6c6;
}

#lc-c-m-password:hover + .lc-c-m-password-label,
#lc-c-m-username:hover + .lc-c-m-username-label,
#lc-c-m-password:focus + .lc-c-m-password-label,
#lc-c-m-username:focus + .lc-c-m-username-label,
#lc-c-m-password:not(:placeholder-shown)#lc-c-m-password:not(:focus)
  + .lc-c-m-password-label,
#lc-c-m-username:not(:placeholder-shown)#lc-c-m-username:not(:focus)
  + .lc-c-m-username-label {
  border: 0.5px solid #c5c6c6;
  top: 10%;
  transform: translateY(0%);
  font-size: 14px;
  border: none;
  font-size: 12px;
  font-weight: 400;
}

.lc-c-b-button {
  width: 280px;
  height: 40px;
  background: #d93b01;
  color: white;
  border-radius: 500px;
  margin: 12px 0;

  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.lc-c-b-button:hover {
  background: #df5a28;
}

.lc-c-b-text {
  font-size: 12px;
  margin: 12px 0;
}

.lc-c-bottom {
  margin-bottom: 60px;
}
